.teacherIntro {
  height: 200px;
  width: 400px;
}

.profilePicture {
  height: 100px;
  width: 100px;
}

.reviewProfilePicture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.star {
  height: 20px;
  width: 20px;
}
table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

td {
  height: 20px;
  width: 50px;
}

.availableTableOnBooking {
  height: 400px;
  width: 80%;
}
